@inject IHttpClientFactory ClientFactory

<h3>Authors</h3>
<ul>
    @foreach( var author in authors ) {
        <li>@author.Name</li>
    }
</ul>

@code {
    private List<Author> authors = new();

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient( "API" );
        authors = await client.GetFromJsonAsync<List<Author>>( "odata/Authors" ) ?? new();
    }

    public class Author { public int Id { get; set; } public string Name { get; set; } = ""; }
}
